body { margin: 0; padding: 0; background-color: black; background-image: url(-grain-.jpg)}


.cover { background-size: cover; background-repeat: no-repeat;; background-position: center top}

a { color: gainsboro}
a:link{text-decoration: none;}
a:hover {color: #929292}

.html {
    scroll-behavior: smooth }

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}


.hokie {font-size: 60px; text-align: center; font-family: "Special Elite"; color: gainsboro; }
.sorry { float: left; padding: 20px;margin-left: 52px; font-size: 3rem; ; font-family: "Special Elite"}
.sorry2 {margin-right: 30px;}
.link {float: right; padding:20px;margin-right: 22px; font-size: 3rem; ; font-family: "Special Elite";}


.homebg1 {
    height: 590px;
        background-image: url(-me-.png);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;}




.text  {font-size:27px;
    color: gainsboro; ;
    font-family: inherit;
    text-align: center;}


.p-content { text-align: center; padding: 20px; align-content: center; }
.homecategory { width: 400px;margin: 20px; text-align: center}



.bio {align-content: center;
    display: block;
    max-width: 600px;
    margin: 0 auto 1em;
    height: 960px;
    position: relative;
    border-right: .2em;
    transform: preserve-3d;
    font-family: "Special Elite"; font-size: 1.3rem }

.biobg { color: gainsboro;
    text-align: center;;
background-image: url(moon.png);background-repeat: no-repeat;
        background-position: center; background-attachment: fixed}

.anchor { text-align: center ; width: 90px;margin: 20px;}

.spacebackground {
    height: 900px;
        background-image: url(2y.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; background-attachment: fixed}


.vdo {text-align: center; margin-bottom: 30px;}
.video {width: 80%; height: 800px; margin-bottom: 60px}


.sorry3 {padding: 40px;font-size: 3rem; ; font-family: "Special Elite" }
