body { margin: 0; padding: 0; background-color: black; background-image: url(-grain-.jpg)}


.cover { background-size: cover; background-repeat: no-repeat;; background-position: center top}

a { color: gainsboro}
a:link{text-decoration: none;}
a:hover {color: #929292}

.html {
    scroll-behavior: smooth }



.hokie {font-size: 60px; text-align: center; font-family:cursive; color: gainsboro; }
.sorry { float: left; padding: 20px;margin-left: 52px; font-size: 40px; ; font-family:cursive}
.sorry2 {margin-right: 30px}
.sorry3 {padding: 40px;font-size: 40px; ; font-family:cursive}
.link {float: right; padding:20px;margin-right: 22px; font-size: 40px; ; font-family:cursive;}


.homebg1 {
    height: 530px;
        background-image: url(-me-.png);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;}




.text  {font-size:27px;
    color: gainsboro; ;
    font-family: inherit;
    text-align: center;}


.p-content { text-align: center; padding: 20px; align-content: center; }
.homecategory { width: 400px;margin: 20px; text-align: center}



.vdo {text-align: center; margin-bottom: 30px;}
.video {width: 70%; height: 900px; margin-bottom: 60px}



.bio {align-content: center;
    display: block;
    max-width: 600px;
    margin: 0 auto 1em;
    height: 960px;
    position: relative;
    border-right: .2em;
    transform: preserve-3d}

.biobg {font-size:27px;
    color: gainsboro; ;
    font-family: inherit;
    text-align: center;;
background-image: url(moon.png);background-repeat: no-repeat;
        background-position: center; background-attachment: fixed}

.anchor { text-align: center ; width: 90px;margin: 20px;}

.spacebackground {
    height: 700px;
        background-image: url(2y.jpg);
        background-repeat: no-repeat;
        background-position: center; background-attachment: fixed}
