body { margin: 0; padding: 0; background-color: black}


.cover { background-size: cover; background-repeat: no-repeat;; background-position: center top}

a { color: gainsboro}
a:link{text-decoration: none;}
a:hover {color: #929292}

.html {
    scroll-behavior: smooth }




.homebar {background-color: black}
.hokie {font-size: 60px; text-align: center; font-family:cursive; color: gainsboro; }
.sorry { float: left; padding: 20px;margin-left: 52px; font-size: 40px; ; font-family:cursive}
.sorry2 {margin-right: 30px}
.sorry3 {float: right; padding: 20px;margin-right: 52px; font-size: 40px; ; font-family:cursive}
.link {float: right; padding:20px;margin-right: 22px; font-size: 40px; ; font-family:cursive;}


.homebg1 {
    height: 500px;
        background-image: url(Best%20Cover%20Mine%20B&W.jpg);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;}




.text  {font-size:27px;
    color: gainsboro; ;
    font-family: inherit;
    text-align: center;}


.p-wide {width: 90%; margin: 20px;height: auto; z-index: 1}
.p-half {width: 43%; margin: 20px;height: auto; z-index: 1}
.p-content { text-align: center; padding: 20px; margin-top: 60px; }
.homecategory { width: 400px;margin: 20px; text-align: center}


.exlogo {width: 90%}


.vdo {text-align: center; margin-bottom: 90px;}
.video {width: 80%; height: 500px; margin-bottom: 60px}



.bio {align-content: center;
    display: block;
    max-width: 600px;
    background-color: black;
    margin: 0 auto 1em;
    height: 700px;
    position: relative;
    border-right: .2em;
    transform: preserve-3d;}





.o2 {
    font-size: 45px; margin-top: 90px;
    font-family: Arial;}





.Design {
    background-color: transparent;
    border: 10px; text-align: left ;font-size: 20px; font-family: Arial; margin: -20px 20px -20px 130px }

.Design4 {
    background-color: transparent;
    border: 10px; text-align: left ;font-size: 20px; font-family: Arial; margin: -20px 0px -20px 130px }

.Design5 {
    background-color: transparent;
    border: 10px; text-align: left ;font-size: 20px; font-family: Arial; margin: -20px 25px -20px 130px }

.Design6 {
    background-color: transparent;
    border: 10px; text-align: left ;font-size: 20px; font-family: Arial; margin: -20px 40px -20px 130px }





.spacebackground {
    height: 600px;
        background-image: url(2y-01.png);
        background-repeat: no-repeat;
        background-position: center; background-attachment: fixed}






























.word {
align-content: center;
    display: block;
    max-width: 400px;
    background-color: black;
    margin: 0 auto 1em;
    margin-bottom: 50px;
    position: relative;
    border-right: .2em;
    transform: preserve-3d;;}


.pfoto2 {
    text-align: center; padding: 20px; }